# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Next.js
.next
out

# Docker
.docker
.docker-compose.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
whisper.cpp/
apps/api/venv/

.cline